<div class="col-sm">
  <h2>{{global.fbTitle}}</h2>
  <div class="fb-page" data-href="https://www.facebook.com/parkviewcommunitycentre" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/parkviewcommunitycentre" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/parkviewcommunitycentre">
        Park View Community Centre
      </a>
    </blockquote>
  </div>
</div>
<script src="/assets/js/fb-embed.js"></script>
