<div class="facebook-wrapper" style="text-align: center;">
  <div class="col-sm" style="display: inline-block">
    <h2>{{global.fbTitle}}</h2>
    <div class="fb-page" data-href="https://www.facebook.com/parkviewcommunitycentre" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-height=2000>
      <blockquote cite="https://www.facebook.com/parkviewcommunitycentre" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/parkviewcommunitycentre">
          Park View Community Centre
        </a>
      </blockquote>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/assets/css/facebook.css">
<script src="/assets/js/fb-embed.js"></script>
