<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="page-footer font-small" style="background-color: #191919; margin-bottom: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-4">
        <div class="mb-10 flex-center">
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/">Home</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/whats-on">What's On</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/facilities">Our Facilities</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/about-us">About Us</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/gdpr-notice">GDPR Notice</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <a style="color: #A9A9A9;" href="/contact-us">Contact Us</a>
          </div>
          <div class="footer-text mr-md-5 mr-3" style="font-size: 1.2em;">
            <p style="color: #A9A9A9;">Call Us: 0191 388 10 43</p>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr/ style="display: block; width: 100%; height: 1px; border: 0; border-top: 5px solid #FFCC27; margin: 0; padding: 0;">
</footer>

<footer class="page-footer font-small" style="background-color: #424242; margin-top: 0px;">
  <div class="container mb-10 flex-center" style="padding-top: 35px; padding-bottom: 10px">
    <p style="color: white; font-size: 1.2em;">© Copyright - Park View Community Association</p>
  </div>
  <div class="container mb-10 flex-center py-2" style="padding-bottom: 20px">
    <p style="color: white; font-size: 1em; text-align: center;">"Park View Community Centre" is a trading name of Park View Community Association, a company limited by guarantee (company number:8174241 ) and registered charity (charity number: 1148865), registered in England and Wales at Park View Community Association, Church Chare, Chester-le-Street, Co. Durham DH3 3PZ.</p>
  </div>
  <div class="container mb-10 flex-center py-4">
    <div class="row">
      <a href="https://twitter.com/ParkViewCA" class="fa fa-twitter" style="background: #424242; color: #FFCC27; text-align: center; margin-right: 30px; text-decoration: none; font-size: 3em"></a>
      <a href="https://www.facebook.com/parkviewcommunitycentre/" class="fa fa-facebook" style="background: #424242; color: #FFCC27; text-align: center; text-decoration: none; font-size: 3em"></a>
    </div>
  </div>
</footer>
