<footer class="page-footer font-small grey darken-3 pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Pages</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/about-us">About Us</a></li>
          <li><a href="/whats-on">What's On</a></li>
          <li><a href="/facilities">Facilities</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href='/gdpr-notice'>GDPR Notice</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright text-center w-100 py-3">© Copyright 2019 - Park View Community Association</div>
  </div>
</footer>
