@import 'variables/*';

#mapcontainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#submission-alert-close {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
