@import 'variables/*';

#maincontainer {
  border-right: 1px solid #000000;
}

.home-header {
  width:100%;
  text-align:left;
  border-bottom: 0.5px solid #eaeaea;
  line-height:0.1em;
  margin: 0px 0px 30px;
}

.home-header span {
  background:#fff;
  padding:0px 10px 0px 0px;
}
