@import 'variables/*';

.jumbotron {
  background: $yellow;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.card-body {
  text-align:center;
  background-color: #222222;
  color: #FFFFFF;
}
