@import 'variables/*';

.banner {
  text-transform: uppercase;
  font-variant: all-small-caps;
  font-weight: bold;
  background: $yellow;
  padding: 1em;
  font-size: 2em;
  text-align: center;
}

.navbar {
  border-top: 5px solid $yellow;
}
.navbar .nav-item {
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}
#book-now-button {
  text-transform: uppercase;
  background-color: $yellow;
  padding: 1em 2em;
  display: inline;
  border: 0;
}
#book-now-button:hover {
  cursor: pointer;
}

.carousel-caption {
  background: rgba(0, 0, 0, 60%);
  border-left: 5px solid $yellow;
}

.carousel-caption h5 { text-transform: uppercase; color: #FFF; font-size: 2em; }
.carousel-caption p { color: #FFF; font-size: 1.1em; }

.rtd-buttons button {
  font-variant: small-caps;
  background: rgba(0, 0, 0, 50%);
  color: #FFF;
  border: 2px solid $yellow;
  padding: 0.5em 2em;
  margin: 0 1em;
}

.rtd-buttons button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 80%);
}

.activity-slot p { margin: 0; padding: 0; }
.activity-slot .activity-name { display: block; font-size: 1.25em; }
.activity-slot .activity-time { display: block; color: #666; }
.whats-on-table th {
    font-size: 1.25em;
    background-color: #333;
    color: #FFF;
    border: 1px solid #666;
    text-align: center;
    padding: 0.25em 0;
}

.whats-on-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.whats-on-table td {
    text-align: center;
    border: 1px solid #666;
    padding: 1em 0.5em 2em 0.5em;
}
