{{#> layout}}
<div class="jumbotron jumbotron-fluid" style="background-size: cover; background-position: center; padding: 10em; background-image: url({{banner}})"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 offset-md-1" id="maincontainer">
      <h1 class="home-header">{{title}}</h1>
      {{{content}}}
    </div>
    <div class="col-md-3">
      {{>facebook}}
    </div>
  </div>
</div>
<link rel="stylesheet" href="/assets/css/about-us.css">
{{/layout}}
