{{#> layout}}
<div class="jumbotron jumbotron-fluid" style="background-size: cover; background-position: center; padding: 10em; background-image: url({{banner}})"></div>
<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>{{title}}</h1>
      {{{ content }}}
    </div>
    {{>facebook}}
  </div>
</div>
{{/layout}}
