{{#> layout}}

<div class="container">
  <div id="payment-cancelled">
    <h2><i class="icon-remove" style="color: red"></i> Payment cancelled.</h2>
    <p>Click <a href="/">here</a> to go back.</p>
  </div>
</div>

{{/layout}}
