{{#> layout}}

<div class="container">
  <div id="payment-retry">
    <h2><i class="icon-remove" style="color: red"></i> An Error Occured.</h2>
    <p>Relax, you're not being charged. Please retry your booking at a later time.</p>
  </div>
</div>

{{/layout}}
